html,
body {
    width: 100%;
    height: 100%;
    background: 00;
    padding: 0;
    margin: 0;
}
.headr{
    text-align: center;
}
input {
    width: 200px;
    height: 25px;
}

#MapArea {
    height: 100%;
    width: 85%;
    left: 180px;

}
#list {
    display: block;
    position: absolute;
    text-align: center;

}
#list table tbody tr{
    width: 100% !important;
    height: 30px;
}

.fsq {
    text-align: center;
}

.item:hover {
color: grey;
background:wight;
}

.item{
    text-align: center;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    body {


     }

     #MapArea{
        position: sticky !important;
        width: 100%;
     }

     #list{
        width: 100%;
        position: inherit !important;

     }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  body {

 }

  #MapArea{
        position: sticky !important;
        width: 100%;
     }

     #list{
        width: 100%;
        position: inherit !important;
        text-align: center;


     }

     #list table tbody {
      text-align: center;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */

  body {
    width: 100%;
    height: 100%;

}

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */


}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */

  #MapArea{
        position: sticky !important;
        width: 100%;
     }

     #list{
        width: 100%;
        position: inherit !important;
        text-align: center;


     }

     #list table tbody {
      text-align: center;
    }

}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}